body {
  background: black;
  color: white;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

body.light {
  background-color: white;
  color: black;
}

a:visited {
  color: lightseagreen;
}
